.mobile__wrapper {

}
.mobile__common-box {
  position: relative;
}
.mobile__common-img {
  width: 100%;
}
.mobile__header-box {
  z-index: 999;
  position: relative;
  width: 393px;
  height: 137px;
  & > div {
    transition: all .5s;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile__header-box-1 {
    align-items: flex-end;
    justify-content: flex-end;
  }
  & > div >  img {
    transition: all .5s;
    opacity: 0;
    width: auto;
    height: 0;
  }
}
.mobile__1_03_button {
  position: absolute;
  top: 260px;
  // background-color: #ccc;
  left: 50px;;
  width: 150px;
  height: 40px;
}
.mobile__header-box--open {
  & > div {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    
  }
  .mobile__header-box-1 {
    height: 100px;
    
    & > img {
      margin-bottom: 12px;
      opacity: 1;
      width: auto;
      height: 27px;
    }
  }
  .mobile__header-box-2 {
    height: 50px;
    background-color: #ED5B42;
    & > img {
      opacity: 1;
      width: auto;
      height: 38px;
    }
  }
  .mobile__header-box-3 {
    height: 50px;
    background-color: #F2B984;
    & > img {
      opacity: 1;
      width: auto;
      height: 34px;
    }
  }
  .mobile__header-box-4 {
    height: 50px;
    background-color: #91ADAA;
    & > img {
      opacity: 1;
      width: auto;
      height: 28px;
    }
  }
  .mobile__header-box-5 {
    height: calc(100vh - 240px);
    // background-color: #3D3D3D;
    background-color: rgba(120, 120, 120, 1);
    // opacity: 50%;

  }
  .mobile__header-logo,
  .mobile__header-title,
  .mobile__header-menu-box {
    opacity: 0;
  }
}
.mobile__header-box-1 {
  height: 52px;
  background-color: #852C51;
}
.mobile__header-box-2 {
  height: 23px;
  background-color: #E13333;
}
.mobile__header-box-3 {
  height: 22px;
  background-color: #F08446;
}
.mobile__header-box-4 {
  height: 40px;
  background-color: #F2B984;
}
.mobile__header-box-5 {
  height: 0;
  background-color: transparent;
}
.mobile__header-logo {
  position: absolute;
  top: 57px;
  left: 3px;
  width: 120px;
  height: 120px;
  transition: all .5s;
}
.mobile__header-title {
  position: absolute;
  top: 100px;
  left: 123px;
  // transform: translateX(-50%);
  width: 164px;
  height: auto;
  transition: all .5s;
}
.mobile__header-menu-box {
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobile__header-menu-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 6px;
  background-color: #ED5B42;
}
.mobile__block-1 {
  position: relative;
  height: 720px;
}
@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
.mobile__block-1-bg-1 {
  position: absolute;
  left: 0;
  top: 20px;
  width: 202px;
  height: 203px;
  transform-origin: center center;
  animation: rotate 3s linear 0s infinite;
}
.mobile__block-1-bg-2 {
  position: absolute;
  left: 20px;
  top: 86px;
  width: 332px;
  // height: 203px;
}
.mobile__block1-box1 {
  margin-top: -80px;
  position: relative;
  width: 100%;
}
.mobile__block1-button1{
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0;
  // background-color: #ccc;
  width: 100%;
  height: 60px;
}
.mobile__block1-toast {
  max-width: initial;
  width: 100vw;
  height: auto;
}
.mobile__block-6-button {
  margin: 30px auto 0;
  // position: absolute;
  // top: 398px;
  // left: 106px;
  width: 181px;
  height: 36px;
}

// bottom
.mobile__bottom-block {
  margin: 0 auto;
  position: relative;
  padding-top: 210px;
  width: 353px;
}
.mobile__bottom-bg {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
}
.mobile__bottom-box {
  position: relative;
  z-index: 2;
  width: 353px;
  height: 140px;
  background-color: #ccc;
}
.mobile__bottom-box-1 {
  padding: 0 50px;
  position: relative;
  z-index: 4;
  box-sizing: border-box;
  width: 353px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #F7E3C2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mobile__bottom-box-1-item {
  width: 50px;
  height: 50px;
}
.mobile__bottom-box-2 {
  margin-top: -25px;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 353px;
  height: 50px;
  border-radius: 10px;
  background-color: #F08446;
}
.mobile__bottom-box-3 {
  margin-top: -25px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 353px;
  height: 50px;
  border-radius: 10px;
  background-color: #E13333;
}
.mobile__bottom-box-4 {
  margin-top: -20px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 353px;
  height: 60px;
  // border-radius: 10px;
  background-color: #852C51;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

}
.modal__mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
.modal__content {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}