

.home__wrapper {
  position: relative;
  overflow: hidden;
}
.first-invisible {
  opacity: 0;
  // transition: opacity 2s;
}
.home__first-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.home__first-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // transition: opacity 2s;
}
.home__logo {
  position: absolute;
  display: block;
  width: 225px;
  height: 158px;
  left: 48px;
  top: 32px;
}
.home__nav {
  position: absolute;
  height: 70px;
  right: 64px;
  top: 32px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.home__nav-item {
  position: relative;
  cursor: pointer;
}
.home__nav-item:hover .home__nav-item-img--active{
  visibility: visible;
}
.home__nav-item:hover .home__nav-item-img{
  visibility: hidden;
}
.home__nav-item-img {
  width: auto;
  height: 70px;
}
.home__nav-item-img--active {
  position: absolute;;
  top: 0;
  left: 0;
  height: 70px;
  visibility: hidden;
}
.home__service {
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.home__service-bg {
  width: 100%;
  height: auto;
}

.home__service-btn {
  position: absolute;
  top: 830px;
  left: 50%;
  transform: translateX(-50%);
  width: 530px;
  height: 88px;
  cursor: pointer;
}
.home__hook {
  z-index: 2;
  margin-top: -154px;
  position: relative;
  width: 100vw;
  overflow: hidden;
  // height: 1305px;
  height: 1640px;
}
.home__hook-box {
  width: 100vw;
  
}
.home__hook-bg1 {
  position: absolute;
  top: 0;
  left: 222px;
  z-index: 10;
  height: 150px;
  width: auto;
  max-width: none;
}
.home__hook-bg2 {
  position: absolute;
  top: 210px;
  left: 192px;;
  z-index: 13;
  width: 735px;
  max-width: none;
}
.home__hook-bg3 {
  position: absolute;
  top: 1000px;
  left: 0;;
  z-index: 13;
  width: 100%;
  max-width: none;
}

.home__hook-video {
  position: absolute;
  top: 18px;
  right: 0;
  height: 1048px;
  z-index: 9;
}
.home__hook-content {
  left: 240px;
  top: 474px;
  position: absolute;
  z-index: 12;
  width: 765px;
  height: 200px;
  color: #000;
}
.home__hook-detail {
  font-size: 36px;
  line-height: 43px;
}
.home__hook-detail span {
  color: #ED5B42;
}
.home__hook-soon {
  margin-top: 23px;
  color: #000;
  font-size: 36px;
  line-height: 43px;
}
.home__sdk {
  z-index: 3;
  margin-top: -260px;
  position: relative;
  width: 100vw;
  overflow: hidden;
  // padding-bottom: 700px;
  height: 2100px;
}
.home__sdk-bg {
  position: absolute;
  height: 255px;
  width: auto;
  max-width: none;
  left: 240px;
  top: 0;
  z-index: 2;;
}
.home__sdk-video {
  position: absolute;
  width: 100%;
  left: 0;
  top: 240px;
}
.home__sdk-content {
  position: absolute;
  left: 240px;
  top: 350px;
  z-index: 4;
  font-size: 36px;
  line-height: 43px;
}
.home__sdk-ul {
  margin-bottom: 20px;
  list-style: inside;
}
.home__sdk-soon {
  margin-top: 23px;
  color: #000;
  font-size: 36px;
  line-height: 43px;
}
.home__sdk-desc-box {
  position: absolute;
  left: 277px;
  top: 1250px;
  // top: 1060px;
  box-sizing: border-box;
  padding: 0 85px;
  width: 1365px;
  height: 480px;
  border-radius: 30px;
  border: 5px solid #000;
  font-size: 26px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 231, 201);
}
.home__sdk-desc-box span {
  color: #ED5B42;
}

.home__footer {
  // overflow: hidden;
  position: absolute;
  left: 277px;
  top: 1883px;
  // top: 1693px;
  box-sizing: border-box;
  width: 1365px;
  height: 110px;
  border-radius: 30px;
  border: 5px solid #000;
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 231, 201);
}
.home__footer-logo-box {
  position: relative;
  width: 237px;
  border-right: 5px solid #000;
}
.home__footer-logo {
  position: absolute;
  left: 10px;
  bottom: -4px;;
  width: 237px;
  height: auto;
}
.home__footer-nav {
  width: 928px;
  height: 100px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home__footer-nav-item {
  position: relative;

}
.home__footer-nav-item:hover .home__footer-nav-item-img--active {
  visibility: visible;
}
.home__footer-nav-item:hover .home__footer-nav-item-img {
  visibility: hidden;
}
.home__footer-nav-item-img--active {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0
}
.home__footer-nav img {
  cursor: pointer;
}
.home__footer-nav div:nth-child(1) img,
.home__footer-nav div:nth-child(2) img {
  width: auto;
  height: 43px;
}
.home__footer-nav div:nth-child(3) img,
.home__footer-nav div:nth-child(4) img,
.home__footer-nav div:nth-child(5) img {
  width: auto;
  height: 60px;
}
